<!DOCTYPE html>
<html lang="en">
<head>
 <title>Cloth Item Catalog</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
	.bgclr{
		background-color: #CD853F;
	}
</style>

<body>
 <div class="row">
    <div class="col-md-12">
      <img src="{{url_for('static',filename='cricket.png')}}" style="margin:0px; width:1520px; height: 235px;">
    </div>
  </div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
			  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a href=""class="nav-link" style="font-size: 25px; color:white;"><span class="fa fa-globe"></span>Welcome to {{cloth.name}} !!!</a>
				</li>
			  </ul>
			  {% if 'username' in session %}
			 <ul class="nav navbar-nav  my-2 my-lg-0">
				 <li class="nav-item">
					<a href="{{ url_for('newModelList',model_id=cloth.id) }}" class="nav-link" style="font-size: 18px; color:white;"><span class="fa fa-plus"></span> Model</a>
				 </li>

				 
				 <li class="nav-item">
					<a href="{{ url_for('logout') }}" class="nav-link" style="font-size: 18px; color:white;"><span class="fa fa-sign-out"></span> Logout</a>
				 </li>
			</ul>
			{% endif %}
		   </div>
		</nav>
	</div>

	<div class="flash mt-2">
	{% with messages=get_flashed_messages() %}
		{% if messages %}

		<ul>
			{% for message in messages %}
			<li><strong>{{message}}</strong></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
	</div>

	<div class="container mt-4">
		{% for i in model %}
			<div class="card ">
				<div class="card-header bg-gray text-white" id="headingOne{{i.id}}">
					<div class="row">
						<div class="col-9">
							<h2 class="mb-0">
								<button class="btn btn-link text-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseOne{{i.id}}" aria-expanded="true" aria-controls="collapseOne">
					          <font color="black"><b>{{i.name}}</b></font>
					        	</button>
							</h2>
						</div>

						<div class="col-3 ">
							<div class="editdeletepane float-right">
								{% if 'username' in session %}
								<a href="{{url_for('editModelList',cloth_id=cloth.id,m_id=i.id) }}" class="btn btn-info btn-sm"><i class="fa fa-pencil-square fa-lg"></i></a>



								<a href="{{url_for('deleteModelList',model_id=cloth.id,list_id=i.id) }}" class="btn btn-danger btn-sm"><i class="fa fa-trash fa-lg"></i></a>
								{% endif %}
							</div>
						</div>

					</div>
				</div>
				<div id="collapseOne{{i.id}}" class="collapse" aria-labelledby="headingOne{{i.id}}" data-parent="#accordionExample">
					<div class="card-body">
						<div class="panel-body"><font color="red"><i><b>Name:</b></i></font>{{i.name}}</div>
						<div class="panel-body"><font color="red"><i><b>Price:</b></i></font>{{i.price}}</div>
						<div class="panel-body"><font color="red"><i><b>Color:</b></i></font>{{i.color}}</div>
						<div class="panel-body"><font color="red"><i><b>Image:</b></i></font>{{i.pic}}</div>
						<div class="panel-body"><font color="red"><i><b>Brand:</b></i></font>{{i.brand}}</div>
					</div>
				</div>

			</div>
		{% endfor %}
	</div>
</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	



</body>
</html>